In [ ]:
import numpy as np

In [2]:
import pandas as pd

df = pd.read_json('../../data/News_Category_Dataset_v2.json', lines=True)

In [6]:
df.link[0]

'https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89'

In [45]:
article_text = pd.DataFrame()

In [208]:
df1k = df[:1000]
df2k = df[1000:2000]

In [ ]:
len(article_text)

In [102]:
from ratelimit import limits, RateLimitException
from backoff import on_exception, expo
import requests

In [111]:
from newspaper.article import ArticleException

In [ ]:

    # make request
except ArticleException:
    list.append(None)

In [338]:
dffulltext.to_csv('dffulltext.csv')

In [329]:
dffulltext['full_text'] = article_text

<ipython-input-329-d12e5c2a86bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dffulltext['full_text'] = article_text

In [327]:
dffulltext= df.iloc[:40383,:]

In [333]:
dffulltext

,category,headline,authors,link,short_description,date,full_text
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26,Mei-Chun Jau for HuffPost Amanda Painter is th...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26,The 2018 FIFA World Cup starts June 14 in Russ...
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26,Love actually turned to matrimony for Hugh Gra...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26,Rep. Adam Schiff (D-Calif.) and fellow Democra...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26,The “Dietland” star told host Jimmy Fallon tha...
...,...,...,...,...,...,...,...
40378,ARTS & CULTURE,Book Publishers Are Scrambling To Release Trum...,Maddie Crum,https://www.huffingtonpost.com/entry/trump-sur...,Several forthcoming new books center on coping...,2016-12-09,"The day after Donald Trump’s election win, man..."
40379,BLACK VOICES,Second NFL Player Targeted By Stomach-Turning ...,Ryan Grenoble,https://www.huffingtonpost.com/entry/brandon-m...,Broncos linebacker Brandon Marshall said he wa...,2016-12-09,Justin Edmonds via Getty Images Brandon Marsha...
40380,POLITICS,Senate Democrats Give Up On Coal Miner Health ...,Laura Barrón-López,https://www.huffingtonpost.com/entry/governmen...,Sen. Joe Manchin said he hopes to enlist Presi...,2016-12-09,Coal-state Senate Democrats on Friday backed o...
40381,POLITICS,Courtesy Over Death Penalty Cases May Be Dead ...,Cristian Farias,https://www.huffingtonpost.com/entry/supreme-c...,The justices agreed to stay one man's executio...,2016-12-09,"Days before the presidential election, Chief J..."
40382,SCIENCE,Scientists Discover Feathered Dinosaur Tail Tr...,Mary Papenfuss,https://www.huffingtonpost.com/entry/feathered...,The surprise finding is 99 million years old.,2016-12-09,Royal Saskatchewan Museum/RC McKellar Tiny fea...

In [233]:
df2k.link

1000    https://www.huffingtonpost.com/entry/pakistan-...
1001    https://www.huffingtonpost.com/entry/vladimir-...
1002    https://www.huffingtonpost.com/entry/lebanon-h...
1003    https://www.huffingtonpost.com/entry/tronc-chi...
1004    https://www.huffingtonpost.com/entry/indiana-g...
                              ...
1995    https://www.huffingtonpost.com/entry/laura-ing...
1996    https://www.huffingtonpost.com/entry/3rd-grade...
1997    https://www.huffingtonpost.com/entry/stephen-c...
1998    https://www.huffingtonpost.com/entry/rudy-giul...
1999    https://www.huffingtonpost.com/entry/comeback-...
Name: link, Length: 1000, dtype: object

In [212]:
collected_data_text = []

for idx in df2k[['full_text']].index:
    sub_dict = {'id': idx, 'text': df2k['full_text'][idx]}
    collected_data_text.append(sub_dict)

In [213]:
collected_data = {}

collected_data['text'] = collected_data_text

Updating saved json file

In [227]:
import json

# Load in the json file
file = open('collected_data.json', 'r')
loaded_data = json.load(file)
file.close()

# Write new data to json file
file = open('collected_data.json', 'w')
loaded_data['text'] = loaded_data['text'] + collected_data_text
json.dump(loaded_data, file)
file.close()

In [228]:
file = open('collected_data.json', 'r')
loaded_data = json.load(file)

In [229]:
len(loaded_data['text'])

4000

In [177]:
df1k.full_text.isna().sum()

33

In [ ]:
import json

collected_data = {}

collected_data['text']

In [316]:
len(article_text)

40383

In [317]:
article_text_2= article_text

In [334]:
import time
article_text =  article_text[:5890]
article_authors = article_authors[:5890]
article_keywords = article_keywords[:5890]
x=0
for i in df.link.iloc[5890:50000]:
    try:
        article = Article(i)
        article.download()
        article.parse()
        article_text.append(article.text.replace('\n', ' '))
        article_authors.append(article.authors)
        article_keywords.append(article.keywords)
    except ArticleException:
        article_text.append(np.nan)
        article_authors.append(np.nan)
        article_keywords.append(np.nan)
        print('nan found')
    x+=1
    if x %2 == True:
        time.sleep(2)
        print(x, 'done')

In [ ]:

@on_exception(expo, RateLimitException, max_tries=8)
@limits(calls=20, period=240)
def get_article(url):
    article = Article(url)
    article.download()
    article.parse()
    article_text.append(article.text.replace('\n', ' '))
    return article_text

In [40]:
from newspaper import Article

url = 'https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89'
article = Article(url)

In [34]:
article.download()

In [35]:
article.parse()
article.text