In [5]:
import json
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
import scipy

In [6]:
df = pd.read_json("../../data/News_Category_Dataset_v2.json", lines = True)

In [7]:
df.drop(["date"], axis = 1, inplace = True)

In [8]:
df.head()

,category,headline,authors,link,short_description
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ..."

In [9]:
df["category"].value_counts()

POLITICS          32739
WELLNESS          17827
ENTERTAINMENT     16058
TRAVEL             9887
STYLE & BEAUTY     9649
PARENTING          8677
HEALTHY LIVING     6694
QUEER VOICES       6314
FOOD & DRINK       6226
BUSINESS           5937
COMEDY             5175
SPORTS             4884
BLACK VOICES       4528
HOME & LIVING      4195
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3651
WOMEN              3490
IMPACT             3459
DIVORCE            3426
CRIME              3405
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
WORLDPOST          2579
RELIGION           2556
STYLE              2254
SCIENCE            2178
WORLD NEWS         2177
TASTE              2096
TECH               2082
MONEY              1707
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1339
ENVIRONMENT        1323
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1030
EDUCATION          1004
Name: category, dtype: int64

In [21]:
df["link"]

0         https://www.huffingtonpost.com/entry/texas-ama...
1         https://www.huffingtonpost.com/entry/will-smit...
2         https://www.huffingtonpost.com/entry/hugh-gran...
3         https://www.huffingtonpost.com/entry/jim-carre...
4         https://www.huffingtonpost.com/entry/julianna-...
                                ...
200848    https://www.huffingtonpost.com/entry/rim-ceo-t...
200849    https://www.huffingtonpost.com/entry/maria-sha...
200850    https://www.huffingtonpost.com/entry/super-bow...
200851    https://www.huffingtonpost.com/entry/aldon-smi...
200852    https://www.huffingtonpost.com/entry/dwight-ho...
Name: link, Length: 200853, dtype: object

In [11]:
a = [(1,2), (2,2), (3,2), (4,2)]
b = pd.DataFrame()

SyntaxError: invalid syntax (<ipython-input-11-1fb18df9787e>, line 3)

In [19]:
pd.concat([])

In [18]:
a[0][0]

1

In [20]:
b

   a
0  1
1  2
2  3
3  4